/* You can add global styles to this file, and also import other style files */

.top-menu {
    background: #1976d2;
    padding: 2px 15px;
}

.logo {
  max-height: 55px;
}


.courses {
    max-width: 400px;
    margin: 50px auto;
}


button {
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  background: #1a7ce7;
  color: white;
  border-radius: 4px;
}




